[Unit]
Description=A simple server manager for local newtrok
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rasp_mgr --config /etc/rasp_mgr/Config.toml --addr 0.0.0.0 --port 80 --static_dir /var/lib/rasp_mgr/static
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
